<% provide( :title, 'Home' ) %>

<div class="center hero-unit">
  <h1>Album Tracker | Home</h1>

  <h2>
    To get started please 
    <%= link_to 'Sign In', '/signin' %>, 
    or Create your Free Account.
  </h2> 

  <%= link_to 'Create Free Account', signup_path, class:"btn btn-large btn-primary" %>

</div>

